.main
{
    display: flex;
    justify-content: space-between;
}
.savebtn
{
  display: flex;
  justify-content: center;

}
.Save
{
  width: 100px;
  height: 7vh;
  background-color: blue;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
